.container{
    width: 400px;
    border: 5px solid #000;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 5px #000000;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botao{
    background-color: rgb(35, 149, 202);
    border: 2px solid rgb(0, 85, 124);
    border-radius: 25px;
}

